---
layout: default
---
<section class="subscribe">
  <form class="grid-middle" method="POST" action="http://formspree.io/lene_schargitz@outlook.de">
    <div class="col-6 centered">
      <input class="email-signup centered" type="name" name="name" placeholder="Your name">
    </div>
    <div class="col-6 centered">
      <input class="email-signup centered" type="email" name="email" placeholder="Your email">
    </div>
    <div class="col-12 centered">
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
<section class="top-article grid-center-bottom">
  <div class="top-article" style="background-image: url(http://lorempixel.com/400/200)">
  </div>
  <div class="linkdiv centered">
    <a class="link white-bg" href="#"><h1>top news title</h1></a>
  </div>
</section>
<section class="news">
  <div class="sectionrow grid">
    {% for article in site.articles limit:6 %}
      {% include article-preview.html %}
    {% endfor %}
    </div>
</section>
