<footer>
  <div class="footerrow grid">
    <div class="footerNav col-4">
      <h3>at a glance</h3>
      <a href="#home">home</a>
      <a href="#">topics</a>
      <a href="#">politics</a>
      <a href="#">economics</a>
      <a href="#">sport</a>
      <a href="#">culture</a>
      <a href="#">countries</a>
      <a href="#">poland</a> <!-- insert more countries here -->
    </div>
    <div class="subscribe col-4">
      <form method="POST" action="http://formspree.io/lene_schargitz@outlook.de">
        <div class="inputfooter centered">
          <label for="name"> <h3>Subscribe</h3></label>
          <input class="centered" type="name" name="name" placeholder="Your name">
        </div>
        <div class="inputfooter centered">
          <input class="centered" type="email" name="email" placeholder="Your email">
        </div>
        <div class="button">
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
    <div class="col-4-middle">
      <div>
        <!-- search bar -->
      </div>
      <div class="footerlinks right">
        <a target="_blank" href="https://www.instagram.com/lenescha/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a target="_blank" href="https://twitter.com/le_scha"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
