/* ------ INDEX ------------------------------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
    - Layout
    - Typography
    - General Styles
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS

---------------------------
Website Fonts: 'Lato', sans-serif;
Website Colours: List colour hex codes here for reference
----------------------------
*/

/* ---- CSS RESET ---------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.white-bg    { background-color: rgb(245,245,245); }
.darkgrey-bg { background-color: rgb(60,60,60); }
.feat-bg     { background-color: ; }

/* ---- UNIVERSAL STYLES ---------------------------------- */
body{ /* font aussuchen und hier eintragen, link in html eintragen (head)*/
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: papayawhip;
}

h1, h2, h3, h4, h5, h6{
  font-family:
}

p{

}

a{
text-decoration: none;
color: black;
}

section, header, footer{
  width: 80%;
  margin: 0 auto; /*0 auto für mittig*/
  background-color: white;
}

/* --- MODULAR STYLES ----*/

.bg-img{
  background-position: center;
  background-size: cover;
}

.gallery-section .bg-img{
  height: 300px;
}

/* RESPONSIVE VIDEOS */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* ---- HEADER SECTION STYLES ----------------------------- */
header{
  padding-bottom: 5%;
}

.navrow a{
  padding: 1vh 1vh;
  margin-left: 5%;
  margin-right: 5%;
}

nav a:hover{
  border-bottom: 3px black solid;
}

/* ---- SUBSCRIBE SECTION STYLES -------------------------- */
section.subscribe{
  padding-top: 3%;
  padding-bottom: 3%;
}

input.email-signup, button{
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 5vh;
}
 div.col-12.centered{
   margin-top: 3%;
 }

/* ---- MAIN ARTICLE SECTION STYLES ----------------------- */
div.top-article{
  height: 30vw;
  background-size: cover;
  background-position: center;
}

section.top-article{
  width: 80%;
  margin: 0 auto;
  display: block;
}

.link{
  display:inline-block;
  padding: 1% 19%;
  border: 2px solid black;
}

.linkdiv.centered{
  margin-top: -2%;
}
/* ---- TOP NEWS SECTION STYLES --------------------------- */
section.news{
  padding-top: 10%;
}

.sectionrow.grid{
  width: 90%;
  margin: 0 auto;
}

.pictureNews{
  background-image: url('../images/default-placeholder.png');
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  width: auto;
}

.titlearticle{
  display: inline-block;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 5%;
  padding-left: 5%;
  background-color: white;
  margin-left: 11%;
}

.description{
  margin-top: -70%;
  padding-top: 15%;
  padding-bottom: 15%;
  display: none;
}

.description h3{
  margin-bottom: 5%;
}

.description p{
  margin-bottom: 10%;
}

/* ---- ARTICLE SECTION LAYOUT ---------------------------- */
.articletitle{
  padding-top: 3%;
}

.articletext, .shortdescription{
  max-width: 90%;
  margin: 0 auto;
}

.articletext{
  padding-top: 3%;
  padding-bottom: 5%;
}

/* ---- COUNTRIES PAGE STYLES ----------------------------- */
.countries-page-headline{
  padding-top: 3%;
  padding-bottom: 3%;
}

.col-3.country-preview-outline{
  background-size: cover;
  background-position: center;
}

/* ---- TOPICS PAGE STYLES -------------------------------- */
.toopics-header.centered{
  padding-bottom: 3%;
}

/* ---- FOOTER SECTION STYLES ----------------------------- */
.footerrow.grid{
  margin-top: 10%;
}

#footerbutton{
  margin-top: 2%;
}

/* ---- BURGER MENU --------------------------------------- */

.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9999999999;
  padding: 8px;
  margin-right: 9%;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 25px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: 02px;
}

.burger-bottom{
  bottom: 02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
  transform: rotateZ(270deg);
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
}

.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #C3BFBC;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}

.burger-menu li{list-style:none}
/*
.dropdown-nav:hover .dropdown-content {
    display: block;
} */

.mob-show{
  display: none;
}

@media all and (max-width: 465px) {
  .mob-show{
    display: block;
  }

  .mob-hide{
    display: none;
  }
}
